<div id="menu" class="menu menu-transition" [ngClass]="{'menu-icon-only': !expanded}">
  <ul class="nav flex-column white">
    <li class="nav-item menu-item" (click)="expandOrCollapse()">
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small': !expanded}">
        <span class="oi oi-menu"></span>
        <img class="com-logo" src="../../../assets/images/genpactLogo.png" [ngClass]="{'hide': !expanded}"/>
      </div>
      <hr class="hr-divider" />
    </li>
  </ul>
  <div class="profile container-fluid" (click)="openProfileModal(profileModal)">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-6">
        <img [src]="profile.image || '../../../assets/images/user.png'" class="rounded-circle profileImageLarge trans" [ngClass]="{'profileImageSmall': !expanded}" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-6 white" [ngClass]="{'hide': !expanded}">
        <b>{{profile.name}}</b>
        <br/>
        <span style="font-size: 12px">{{profile.designation}}</span>
        <br/>
        <span style="font-size: 12px">Genpact Headstrong <br/> Capital Markets</span>
      </div>
    </div>
  </div>
  <hr class="custom-hr" />
  <ul class="nav flex-column white">
    <li class="nav-item menu-item" placement="right" ngbTooltip="Dashboard" [ngClass]="{'active-item': clicked == 'dashboard'}" (click)="handleRoute('dashboard')">
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small': !expanded}">
        <span class="oi oi-pie-chart"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span [ngClass]="{'hide': !expanded}">&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span>
      </div>
      <hr class="hr-divider" />
    </li>
    <li class="nav-item menu-item" placement="right" ngbTooltip="Fill Effort" [ngClass]="{'active-item': clicked == 'effort'}" (click)="handleRoute('effort')">
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small': !expanded}">
        <span class="oi oi-beaker"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span [ngClass]="{'hide': !expanded}">&nbsp;&nbsp;&nbsp;&nbsp;Fill Effort</span>
      </div>
      <hr class="hr-divider" />
    </li>
    <li *ngIf="profile.isAdmin" class="nav-item menu-item" placement="right" ngbTooltip="Master Data" [ngClass]="{'active-item': clicked == 'master'}" (click)="handleRoute('master')">
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small': !expanded}">
        <span class="oi oi-spreadsheet"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span [ngClass]="{'hide': !expanded}">&nbsp;&nbsp;&nbsp;&nbsp;Master Data</span>
      </div>
      <hr class="hr-divider" />
    </li>
    <li class="nav-item menu-item" placement="right" ngbTooltip="Manage Users" [ngClass]="{'active-item': clicked == 'users'}" (click)="handleRoute('users')">
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small': !expanded}">
        <span class="oi oi-people"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span [ngClass]="{'hide': !expanded}">&nbsp;&nbsp;&nbsp;&nbsp;Manage Users</span>
      </div>
      <hr class="hr-divider" />
    </li>
  </ul>
  <ul class="nav flex-column white menu-bottom">
    <li class="nav-item menu-item-bottom" placement="right" ngbTooltip="Sign Out" (click)="handleSignOut()">
      <hr class="hr-divider-bottom" />
      <div class="menu-item-div" [ngClass]="{'menu-item-div-small-bottom': !expanded}">
        <span class="oi oi-account-logout"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span [ngClass]="{'hide': !expanded}">Sign Out</span>
      </div>
    </li>
  </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="text-center full-width"><a class="navbar-brand" href="#">{{clickedMap[clicked]}}</a></div>
</nav>
<div class="child-div">
  <router-outlet></router-outlet>
</div>
<div [ngClass]="{'hide': !utilities.showAlertMsg, 'alert': true}">
  {{utilities.alertMessage}}
</div>
<ng-template #profileModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-6">
        <img [src]="profile.image || '../../../assets/images/user-large.png'" class="profile-image" />
        <br/>
        <div style="padding-left: 15px">
          <a href="javascript:document.querySelector('input#fileInput').click()" class="small-font-size">Change Photo</a>
          <input id="fileInput" style="display: none" type="file" accept="image/*" (change)="changeProfilePhoto($event)"/>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-6">
        <b>{{profile.name}}</b>
        <br/>
        <span style="font-size: 12px">{{profile.designation}}</span>
        <br/>
        <span class="text-primary" style="font-size: 12px">{{profile.emailId}}</span>
        <br/>
        <span style="font-size: 12px">GoodWorkLabs Services Private Limited</span>
      </div>
    </div>
    <div class="row" *ngIf="isProfileError">
      <div class="col-md-12 col-xs-12 col-12">
        <br>
        <span class="text-danger">{{profileErrorMsg}} *</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="openChangePasswordModal(changePasswordModal)">Change Password</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
  </div>
</ng-template>
<ng-template #changePasswordModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #chgPwdForm="ngForm" (ngSubmit)="handleNewPasswordSubmit(chgPwdForm)" novalidate>
  <div class="modal-body">
      <div class="form-group">
        <label>Old Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="Old Password" name="password" required ngModel autofocus>
      </div>
      <div class="form-group">
        <label>New Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="New Password" name="newPassword" required ngModel>
      </div>
      <div class="form-group">
        <label>Confirm Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required ngModel>
      </div>
      <div class="form-group text-danger">
        <div *ngIf="isError">
          {{errorMsg}}
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!chgPwdForm.form.valid">Update</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
  </div>
  </form>
</ng-template>
