/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, sans-serif !important;
}

.login-bg {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url('../images/mountains.jpg') no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('../images/mountains.jpg') no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url('../images/mountains.jpg') no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url('../images/mountains.jpg') no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url('../images/mountains.jpg') no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url('../images/mountains.jpg') no-repeat;
}

.login-header {
  text-align: center;
  color: #FFFFFF;
  margin-top: 10%;
}

.login-form {
  margin: 0 auto;
  margin-top: 50px;
}

.login-form label {
  color: #FFFFFF;
}

.login-form input {
  background: transparent !important;
  color: #FFFFFF !important;
  border-color: #A09E9E;
}

.login-form input:focus {
  border-color: #FFFFFF;
}

.login-form button:hover {
  color: #000000;
  cursor: pointer;
}

.custom-hr {
  border-bottom: 1px solid #424242;
  margin-bottom: 0 !important;
  margin-top: 15px !important;
}

.hr-divider {
  border-bottom: 1px solid #424242;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}

.hr-divider-bottom {
  border-bottom: 1px solid #424242;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.menu {
  position: fixed;
  background: #353535;
  height: 100%;
  z-index: 1030;
}

.menu-transition {
  -webkit-transition: all 399ms ease;
  -moz-transition: all 399ms ease;
  -o-transition: all 399ms ease;
  transition: all 399ms ease;
  white-space: nowrap;
}

.menu-item {
  cursor: pointer;
  padding-top: 10px;
}

.active-item {
  background: #252323;
}

.menu-item-bottom {
  cursor: pointer;
  padding-bottom: 10px;
}

.menu-item-div {
  padding-left: 30px;
}

.menu-item-div-small {
  padding-left: 15px !important;
}

.menu-item-div-small-bottom {
  padding-left: 15px !important;
  height: 24px;
}

.menu-item:hover,
.menu-item-bottom:hover {
  background: #252323;
}

.menu-bottom {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.profile {
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.profile>div>div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.white {
  color: #FFFFFF;
}

.white-bg {
  background: #FFFFFF !important;
}

.trans {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.profileImageLarge {
  width: 75px;
  height: 75px;
}

.profileImageSmall {
  width: 16px !important;
  height: 16px !important;
}

.hide {
  display: none !important
}

.menu-icon-only {
  width: 50px !important;
}

.child-div {
  margin-left: 50px;
}

.full-width {
  width: 100%;
}




/*OVERRIDE CSS*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f5f5f5;
  border-bottom: 1px transparent !important;
}

.nav-tabs .nav-item {
  background-color: #f8f9fa;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom: 1px solid !important;
}


.pointer-cursor {
  cursor: pointer;
}

.small-font-size {
  font-size: 10px;
}

.btn {
  cursor: pointer;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: #0275d8;
  color: white;
}

.faded {
  opacity: 0.5;
}

.graphic-card {
  background: #f8f9fa;
  -webkit-box-shadow: 0px 2px 10px -5px #000000;
  -moz-box-shadow: 0px 2px 10px -5px #000000;
  box-shadow: 0px 2px 10px -5px #000000;
  height: 270px;
  margin: 20px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.alert {
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {
  .login-form {
    width: 90%;
  }

  .menu {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .login-form {
    width: 50%;
  }

  .menu {
    width: 20%;
  }
}
